services:
	-
		class: Shredio\ObjectMapper\PhpStan\DataTransferObjectToArrayExtensionType
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension, phpstan.broker.dynamicStaticMethodReturnTypeExtension]
